{% extends 'base.html' %}

{% block content %}

<h1>Employee Management System</h1>

<form method="GET">
    <input type="text" name="search" placeholder="Search Employee">
    <button type="submit">Search</button>
</form>

<br>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Role</th>
        <th>Action</th>
    </tr>

    {% for employee in employees %}

    <tr>
        <td>{{ employee.id }}</td>

        <td>
            {% if employee.image %}
                <img src="{{ employee.image.url }}" width="100">
            {% endif %}
        </td>

        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.role }}</td>

        <td>
            <a href="{% url 'update_employee' employee.id %}">Edit</a>
            <a href="{% url 'delete_employee' employee.id %}">Delete</a>
        </td>
    </tr>

    {% endfor %}

</table>

<br>

{% if employees.has_previous %}
    <a href="?page={{ employees.previous_page_number }}">Previous</a>
{% endif %}

{{ employees.number }}

{% if employees.has_next %}
    <a href="?page={{ employees.next_page_number }}">Next</a>
{% endif %}

{% endblock %}


