<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <h3>REGISTER FORM</h3>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        Username :
        <input type="text" name="username">
        <br><br>

        Password :
        <input type="password" name="password">
        <br><br>

        Name :
        <input type="text" name="name">
        <br><br>

        Email :
        <input type="email" name="email">
        <br><br>

        Age :
        <input type="number" name="age">
        <br><br>

        Role :
        <select name="role">

            <option value="admin">Admin</option>

            <option value="teacher">Teacher</option>

            <option value="student">Student</option>

        </select>

        <br><br>

        Image :
        <input type="file" name="image">

        <br><br>

        <button type="submit">REGISTER</button>

        <a href="{% url 'login' %}">
            login here..
        </a>

    </form>

</body>
</html>