<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>STUDENT FROM</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Name:<input type="text" name="name"><br><br>
        Email:<input type="text" name="email"><br><br>
        Age:<input type="number" name="age"><br><br>
        image:<input type="file" name="image"><br><br>

        <button type="submit">ADD</button>
    </form>
    <hr>
    <h2 align="center">STUDENT LIST</h2>
    <table border="1" align="center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>image</th>
            <th>Action</th>
        </tr>
        {%for stu in Students %}
        <tr>
            <td>{{stu.name}}</td>
            <td>{{stu.email}}</td>
            <td>{{stu.age}}</td>
            <td>
                {% if stu.image%}
                    <img src="{{ stu.image.url}}" width="100">
                {% else %}
                    NO Photo
                {% endif %}
            </td>
            <td>
                <a href="{% url 'student_update' stu.id %}">EDIT</a>
                <a href="{% url 'student_delete' stu.id %}">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>