<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>STUDENT MANAGEMNET SYSTEM</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        NAME: <input type="text" name="name"><br><br>
        EMAIL: <input type="text" name="email"><br><br>
        AGE: <input type="number" name="age"><br><br>
        IAMGE: <input type="file" name="image"><br><br>

        <button type="submit">ADD</button>
    </form>
    <hr>
    <h2 align="center"></h2>
    <table align="center" border="5">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th>IMAGE</th>
            <th>ACTION</th>
        </tr>
        {% for Students in Students %}
        <tr>
            <td>{{Students.name}}</td>
            <td>{{Students.email}}</td>
            <td>{{Students.age}}</td>
            <td>
                {% if Students.image %}
                    <img src="{{ Students.image.url }}" width="100"><br>
                {% else %}
                    NO IMAGE
                {% endif %}
            </td>
            <td>
                <a href="{% url 'student_update' Students.id %}">Edit</a>
                <a href="{% url 'student_delete' Students.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>