<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET">
        serach: <input type="text" name="search">
        price :<input type="number" name="price">
        <button type="submit">search</button>
    </form>
    <h3>PRODUCT DETAILS</h3>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    category : <select name="category" id="category">
        <option value="">select category</option>
        {% for c in category %}
        <option value="{{c.id}}">{{c.name}}</option>
        {% endfor %}
    </select><br>
    <br>
    name: <input type="text" name="name"><br><br>
    decrib: <input type="text" name="decrib"><br><br>
    price: <input type="number" name="price"><br><br>
    qty: <input type="number" name="qty"><br><br>
    image: <input type="file" name="image"><br><br>

    <button type="submit">Add</button>
    </form>
    <h3 align="center">DATA</h3>
    <table align="center" border="5">
    <tr>
        <th>category</th>
        <th>name</th>
        <th>decrib</th>
        <th>price</th>
        <th>qty</th>
        <th>image</th>
        <th>action</th>

    </tr>
    {% for p in products %}
    <tr>
        <td>{{p.category}}</td>
        <td>{{p.name}}</td>
        <td>{{p.decrib}}</td>
        <td>{{p.price}}</td>
        <td>{{p.qty}}</td>
        <td>
        {% if p.image %}
            <img src="{{ p.image.url }}" width="100" height="100">
        {% else %}
            no image:
        {% endif %}
        </td>
        <td>
            <a href="{% url 'update' p.id %}">EDIT</a>
            <a href="{% url 'delete' p.id %}">delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    <div>
        {% if page_obj.has_previous %}
            <a href="?page=1">FIRST</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span> Page {{ page_obj.number }} of {{ page_obj.paginator.number }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">LAST</a>
        {% endif %}
    </div>
</body>
</html>