<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>EMPLOYEE UPDATE FORM</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        NAME : <input type="text" name="name" value="{{Employees.name}}"><br><br>
        EMAIL : <input type="text" name="email"value="{{Employees.email}}"><br><br>
        DEPARTMENT: <input type="text" name="department"value="{{Employees.department}}"><br><br>
        SALARY : <input type="number" name="salary"value="{{Employees.salary}}"><br><br>

        {% if Employees.profile %}
            <img src="{{  Employees.profile.url }}" width="100"><br><br>
        {% endif %}
        
        NEW IMAGE: <input type="file" name="profile"><br><br>

        <button type="submit">UPDATE</button>
    </form>