<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h2>STUDENT FROM</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Name:<input type="text" name="name" value="{{Students.name}}"><br><br>
        Email:<input type="text" name="email" value="{{Students.email}}"><br><br>
        Age:<input type="number" name="age" value="{{Students.age}}"><br><br>
        
        old image:
        {% if Students.image %}
        <img src="{{ Students.image.url }}" width="100"><br><br>
        {%endif%}

        new:<input type="file" name="image">
        <button type="submit">update</button>
    </form>
</body>
</html>