<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3>PRODUCT MANAGEMNET FROM</h3>
   <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        Name: <input type="text" name="name" value="{{products.name}}"><br><br>
        Price: <input type="number" name="price" value="{{products.price}}"><br><br>
        QTY: <input type="number" name="qty" value="{{products.qty}}"><br><br>
        MANUDATE: <input type="date" name="manudate" value="{{products.manudate}}"><br><br>
        ENDDATE: <input type="date" name="enddate" value="{{products.enddate}}"><br><br>\

        {% if products.image %}
            <img src="{{ products.image.url }}" width="100" height="100"><br><br>
        {% endif %}

        NEw IMAGE: <input type="file" name="image"><br><br>
        
        <button type="submit">SUBMIT</button>
   </form>