<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>PRODUCT DETAILS</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        NAME: <input type="text" name="name"><br><br>
        Email: <input type="text" name="email"><br><br>
        AGE: <input type="number" name="age"><br><br>
        IMAGE: <input type="file" name="image"><br><br>

        <button type="submit">ADD</button>
    </form>
    <hr><hr>
    <h3 align="center">LIST ALL PRODUCT</h3>
    <table align="center" border="5">
        <tr>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th>IAMGE</th>
            <th>ACTION</th>
        </tr>
        {% for Products in Products %}
        <tr>
            <td>{{Products.name}}</td>
            <td>{{Products.email}}</td>
            <td>{{Products.age}}</td>

            {% if Products.image %}
            <td>
                <img src="{{ Products.image.url }}" width="100">  
            {% else %}
                NO image
            {% endif %}
            </td>
            <td>
                <a href="{% url 'product_update' Products.id %}">EDIT</a>
                <a href="{% url 'product_delete' Products.id %}">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>