<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    </form>
    <h3>PRODUCT DETAILS ADD FROM</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        name: <input type="text" name="name"><br><br>
        price: <input type="number" name="price"><br><br>
        qty: <input type="number" name="qty"><br><br>
        image: <input type="file" name="image"><br><br>
        dec: <input type="text" name="dec"><br><br>

        <button type="submit">ADD</button>
    </form>
    <h3 align="center">SHOW ALL DATA</h3>
    <table border="5" align="center">
        <tr>
            <th>name</th>
            <th>price</th>
            <th>qty</th>
            <th>image</th>
            <th>dec</th>
            <th>Action</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.qty}}</td>
            <td>
            {% if p.image %}
                <img src="{{ p.image.url }}" width="70" height="70">
            {% else %}
                no image:
            {% endif %}
            </td>
            <td>{{p.dec}}</td>
            <td>
                <a href="{% url 'update' p.id %}">EDIT</a>
                <a href="{% url 'delete' p.id %}">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>