<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h3>UPDATE FROM</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        name: <input type="text" name="name" value="{{products.name}}"><br><br>
        price: <input type="number" name="price" value="{{products.price}}"><br><br>
        qty: <input type="number" name="qty" value="{{products.qty}}"><br><br>

        {% if products.image %}
            <img src="{{ products.image.url }}" width="70" height="70"><br><br>
        {% endif %}

        NEW image: <input type="file" name="image"><br><br>
        dec: <input type="text" name="dec"><br><br>

        <button type="submit">UPDATE</button>
</body>
</html>