<h2 >ADD PRODUCT</h2>
<a href="{% url 'logout' %}">Logout</a>
<form method="post"  enctype="multipart/form-data">
    {%csrf_token%}
        Name    : <input type="text"   name="name"><br><br>
        Age     : <input type="number" name="age"><br><br>
        Photo   : <input type="file"   name="photo"><br><br>

        <button type="submit">ADD</button>
</form>

    <hr>
    <h2 align="center">PRODUCT LIST</h2>
    <table align="center" border="5">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>
        {%for Product in Products%}
        <tr>
            <td>{{Product.name}}</td>
            <td>{{Product.age}}</td>
            <td>
                {% if Product.photo%}
                    <img src="{{ Product.photo.url}}" width="100">
                {% else %}
                    NO Photo
                {% endif %}
            </td>
            <td>
                <a href="{% url 'product_update' Product.id %}">Edit</a>
                <a href="{% url 'product_delete' Product.id %}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>





